{#
/**
 * @file circle.html.twig
 * Default theme implementation to present Circle data.
 *
 * This template is used when viewing Circle pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_circle()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('circle') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
